@import '../../Styles/Mixins/media-queries.scss';
@import '../../Styles/Variables/brakpoints.scss';
@import '../../Styles/Variables/colors.scss';

.posts {
  list-style-type: none;
  margin-right: 2rem;

  .card {
    width: 100%;
    padding: 15px;
    background: linear-gradient(60deg, $color-primario 0%, $color-nav-select 100%);
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px $color-background;
    cursor: pointer;

    .post-content {
      padding-bottom: 20px;

      h2 {
        font-size: 30px;
        color: #fff;
        pointer-events: none;
        transition: 0.2s ease;
        text-shadow: 0 0 15px $color-background;
        padding-bottom: 10px;
      }

      p {
        width: 80%;
        margin-left: 10%;
        color: #fff;
        pointer-events: none;
        font-size: 20px;
        text-align: justify;
        letter-spacing: 1px;
        transition: 0.2s ease;
      }
    }

    .post-info {
      display: flex;
      flex-direction: row;
      align-items: center;

      .social-networks {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;

        li {
          margin: 5px;
          text-transform: uppercase;
          color: $color-secundario;
          display: inline-block;
          padding: 6px 12px;
          font-size: 15px;
          border: 1px solid $color-secundario;
          border-radius: 24px;
          background-color: $color-primario;
          outline: none;
          text-decoration: none;
        }
      }

      .post-status {
        margin-left: auto;
        margin-right: 1rem;

        .status {
          padding: 7px;
          border-radius: 30px;
          animation: colorChange 1.5s infinite alternate;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .button {
        width: 35px;
        height: 35px;
        border-radius: 30px;
        animation: colorChange 1.5s infinite alternate;
        display: flex;
        justify-content: center;
        align-items: center;

        .edit-icon {
          width: 35px;
          height: 35px;
        }
      }

      .edit-post {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;

        &.visible {
          opacity: 0;
        }
      }
    }
  }
}

@keyframes colorChange {
  0% {
    background-color: $color-nav-box2;
  }

  100% {
    background-color: $color-nav-box;
  }
}