.second-fa {
    display: flex;
    align-items: center;
    color: #333;

    p {
        font-size: 15px;
        margin-right: -15px;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 15px;
        margin-left: -20px;
        margin-right: 6px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
            border-radius: 34px;

            &:before {
                position: absolute;
                content: "";
                height: 15px;
                width: 15px;
                left: 1px;
                bottom: 0;
                background-color: white;
                transition: 0.4s;
                border-radius: 50%;
            }
        }

        input:checked+.slider {
            background-color: #4caf50;
        }

        input:checked+.slider:before {
            transform: translateX(17px);
        }
    }
}


.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:first-child {
            background-color: #4caf50;
            color: white;
        }

        &:last-child {
            background-color: #f44336;
            color: white;
        }
    }
}

